<!DOCTYPE html>
{% load static %}

<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'homescreen/main.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
    <!--<script src="https://raw.githubusercontent.com/google/palette.js/master/palette.js" crossorigin="anonymous" type="text/javascript" ></script>-->
    <script src="{% static 'js/palette.js' %}" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="Chart.js" type="text/javascript"></script>-->
    <!--<script type="text/javascript" src="chartjs-plugin-colorschemes.js" type="text/javascript"></script>-->
     <script src="{% static 'js/Chart.js' %}" crossorigin="anonymous"></script>
     <script src="{% static 'js/chartjs-plugin-colorschemes.js' %}" crossorigin="anonymous"></script>


    <title>Cinema Rater</title>

</head>
<body  id="bg-img">

    <header class="site-header" >

        <nav class="navbar navbar-expand-md navbar-dark bg-dark bg-steel fixed-top" >
        <div class="container-fluid">


          <a class="navbar-brand mr-4" href="{% url 'homescreen-home-1' %}">
                <img src={% static 'logo.jpg' %} class="rounded" height="45" width="50">
          </a>
            <div class="row justify-content-center mr-auto" >
                <img src={% static 'textlogo.png' %} class="rounded" height="45" width="auto">
                <!-- <h3 class="text-center" style="color:#f4df41"> GEOGRAPHICAL STATISTICS OF STUDENT INTERNSHIPS </h3> -->
              </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">

              <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'movie_list' %}">Top Movies</a>
              <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'searching' %}">Search</a>
              <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'graphing' %}">Graphs</a>
              <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'contact' %}">Contact us</a>
               <div class="navbar-nav">
              {% if user.is_authenticated %}

                <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
               <!--<a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'login' %}">Login</a>-->
               <!--<a class="nav-item nav-link ml-lg-5" style="color:#f4df41" href="{% url 'register' %}">Register</a>-->

              </div>



            <!-- Navbar Right Side -->
            <div class="navbar-nav mr-auto">
              <!--
              {% if user.is_authenticated %}

                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            -->

              
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid " >

        <div class="container" >
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"> </div>
                  {{ message }}
            {% endfor %}
          {% endif %}
          {% block content %}




          {% endblock %}
        </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
  </script>

</body>
</html>