{% extends "homescreen/base.html" %}
{% block content %}


    <div class="container mt-5">
        <div class="form-row">
            <form class="form-group col-md-6"   action="{% url 'searching' %}"">
                <label style="color:White;" >Search Movies by Title</label>
                <input class="form-control form-control-dark text-light bg-dark w-100  border border-light col-lg" type="text"   name="search_bar" placeholder="Enter Movie name" aria-label="Search">
                <button class="btn btn-outline-success btn-sm my-3 ml-3" type="submit">Search</button>
             </form>

        <form class="form-group col-md-3"  action="{% url 'searching' %}"">
            <label style="color:White;">Search Movies By Year</label>
            <input class="form-control form-control-dark text-light bg-dark w-100  border border-light col-lg" type="text" name="search_gyear" placeholder="Greater than year" aria-label="Search">
            <button class="btn btn-outline-success btn-sm my-3 ml-3" type="submit">Search</button>
        </form>

        <form class="form-group col-md-3"  action="{% url 'searching' %}"">
            <label >.</label>
            <input class="form-control form-control-dark text-light bg-dark w-10  border border-light col-lg" type="text" name="search_lyear" placeholder="lesser than year" aria-label="Search">
            <button class="btn btn-outline-success btn-sm my-3 ml-3" type="submit">Search</button>
        </form>
    </div>
    </div>



<table id="example" class="table table-striped table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">IMDB</th>
      <th scope="col">User Ratings</th>
    </tr>

    {% for movie in moviess %}
    <tr>
      <td>
        <a href="details/{{ movie.id }}/">
          <img src="{{  movie.posterURL }}" width="45" height="67" alt=" {{ movie.title }}" />
        </a>
      </td>
      <td> <a href="details/{{ movie.id }}/"> {{ movie.title }}  </a></td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.imdbRating }}</td>
      <td>
      {% for rate in movie.ratings %}
        {{ rate.ratingValue }}  ,
      {% empty %}
        . No ratings!
      {% endfor %}
      </td>
    </tr>

    {% empty %}
    <tr>
        <td>No films in database yet.</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}